apiVersion: v1
kind: Service
metadata:
  name: notification-svc
  labels:
    app: notification-service
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - name: http
      port: 5000
      targetPort: 5000
